@media screen and (min-width: 1024px){
    h1{
        height: 50px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
    h1{
        height: 25px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px){
    h1{
        height: 15px;
    }
}